<style>
    body {
        font-family: Arial, sans-serif;
    }

    .tab {
        display: flex;
    }

    .tab button {
        background-color: #f1f1f1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 16.6%;
    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #ccc;
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
    }

    .tabcontent h3 {
        color: #333;
    }

    h5 {
        font-size: larger;
    }

    .circular {
        margin-left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
    }

    .col-red {
        color: rgb(236, 81, 85);
    }

    .col-orange {
        color: rgb(234, 163, 0)
    }

    .col-yellow {
        color: rgb(216, 216, 73);
    }

    .col-greenyellow {
        color: rgb(59, 226, 59);
    }

    .col-green {
        color: rgb(37, 140, 37);
    }
</style>
<h3>Đề xuất cho bạn</h3>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Umbrella')">Ô</button>
    <button class="tablinks" onclick="openTab(event, 'Outdoor')">Ngoài trời</button>
    <button class="tablinks" onclick="openTab(event, 'UV')">Chỉ số UV</button>
    <button class="tablinks" onclick="openTab(event, 'Driving')">Lái xe an toàn</button>
    <button class="tablinks" onclick="openTab(event, 'Clothing')">Quần áo</button>
    <button class="tablinks" onclick="openTab(event, 'Heat')">Sốc nhiệt</button>
</div>

<div id="Umbrella" class="tabcontent">
    <h3>Ô</h3>
    <p>Chỉ số thời tiết ảnh hưởng đến việc mang ô có yếu tố dự báo mưa hoặc tuyết trong ngày. Nếu dự kiến
        có mưa, bạn có thể cân nhắc mang theo ô nếu bạn đi ra ngoài.</p>
    {% if umbrella_rec == "Phải" %}
    <h5 class="col-red">Phải có</h5>
    {% elif umbrella_rec == "Cần" %}
    <h5 class="col-orange"> Cần</h5>
    {% elif umbrella_rec == "Có khả năng cần thiết" %}
    <h5 class="col-yellow">Có khả năng cần thiết</h5>
    {% elif umbrella_rec == "Có khả năng không cần" %}
    <h5 class="col-greenyellow">Có khả năng không cần</h5>
    {% else %}
    <h5 class="col-green">Không cần</h5>
    {% endif %}
</div>

<div id="Outdoor" class="tabcontent">
    <h3>Ngoài trời</h3>
    <p>Chỉ số ngoài trời sử dụng điều kiện thời tiết và môi trường, bao gồm cường độ UV, gió, nhiệt độ, lượng mưa
        và chất lượng không khí, để cung cấp lời khuyên về sự phù hợp của các hoạt động ngoài trời.</p>
    {% if outdoor_act_adv == "Rất tệ" %}
    <h5 class="col-red">Rất tệ</h5>
    {% elif outdoor_act_adv == "Kém" %}
    <h5 class="col-orange">Kém</h5>
    {% elif outdoor_act_adv == "Khá tốt" %}
    <h5 class="col-yellow">Khá tốt</h5>
    {% elif outdoor_act_adv == "Tốt" %}
    <h5 class="col-greenyellow">Tốt</h5>
    {% else %}
    <h5 class="col-green">Tuyệt vời</h5>
    {% endif %}
</div>

<div id="UV" class="tabcontent">
    <h3>Chỉ số UV</h3>
    <p>Thang chỉ số UV đánh giá cường độ tia cực tím của mặt trời từ thấp đến cao. Chỉ số UV càng cao thì con người càng có nhiều khả năng bị cháy nắng. Xếp hạng chỉ số UV giúp mọi người tránh tiếp xúc với UV không tốt.</p>
    {% if outdoor_act_adv == "Thấp" %}
    <h5 class="col-green">Thấp</h5>
    {% elif outdoor_act_adv == "Bình thường" %}
    <h5 class="col-greenyellow">Bình thường</h5>
    {% elif outdoor_act_adv == "Cao" %}
    <h5 class="col-yellow">Cao</h5>
    {% elif outdoor_act_adv == "Rất cao" %}
    <h5 class="col-orange">Rất cao</h5>
    {% else %}
    <h5 class="col-red">Tột độ</h5>
    {% endif %}
</div>

<div id="Driving" class="tabcontent">
    <h3>Lái xe an toàn</h3>
    <p>Chỉ số an toàn khi lái xe sử dụng các dự báo và điều kiện thời tiết hiện tại để cung cấp thông tin cho người
        lái xe để họ có thể di chuyển an toàn và tránh các tai nạn liên quan đến thời tiết.</p>
    {% if dri_saf_index == "Rất tệ" %}
    <h5 class="col-red">Rất tệ</h5>
    {% elif dri_saf_index == "Kém" %}
    <h5 class="col-orange">Kém</h5>
    {% elif dri_saf_index == "Khá tốt" %}
    <h5 class="col-yellow">Khá tốt</h5>
    {% elif dri_saf_index == "Tốt" %}
    <h5 class="col-greenyellow">Tôt</h5>
    {% else %}
    <h5 class="col-green">Tuyệt vời</h5>
    {% endif %}
</div>

<div id="Clothing" class="tabcontent">
    <h3>Quần áo</h3>
    <p>Chỉ số thời tiết ảnh hưởng đến trang phục có yếu tố lượng mưa, gió, độ ẩm và nhiệt độ khi đưa ra đề
        xuất về cách ăn mặc phù hợp với thời tiết.</p>
    {% if dri_saf_index == "Áo khoác dày" %}
    <h5 class="col-red">Áo khoác dày</h5>
    {% elif dri_saf_index == "Áo khoác nhẹ" %}
    <h5 class="col-orange">Áo khoác nhẹ</h5>
    {% elif dri_saf_index == "Áo dài tay" %}
    <h5 class="col-yellow">Áo dài tay</h5>
    {% elif dri_saf_index == "Quần áo thoáng khí" %}
    <h5 class="col-greenyellow">Quần áo thoáng khí</h5>
    {% else %}
    <h5 class="col-green">Quần đùi</h5>
    {% endif %}
</div>

<div id="Heat" class="tabcontent">
    <h3>Sốc nhiệt</h3>
    <p>Chỉ số nhiệt là nhiệt độ cảm thấy như thế nào khi độ ẩm tương đối được kết hợp với nhiệt độ không khí.</p>
    {% if dri_saf_index == "Cực kỳ nguy hiểm" %}
    <h5 class="col-red">Cực kỳ nguy hiểm</h5>
    {% elif dri_saf_index == "Nguy hiểm" %}
    <h5 class="col-orange">Nguy hiểm</h5>
    {% elif dri_saf_index == "Hết sức thận trọng" %}
    <h5 class="col-yellow">Hết sức thận trọng</h5>
    {% elif dri_saf_index == "Thận trọng" %}
    <h5 class="col-greenyellow">Thận trọng</h5>
    {% else %}
    <h5 class="col-green">An toàn</h5>
    {% endif %}
</div>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>